[submodule "vendor/lusty-emacs"]
	path = vendor/lusty-emacs
	url = https://github.com/sjbach/lusty-emacs.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "vendor/ac-slime"]
	path = vendor/ac-slime
	url = https://github.com/purcell/ac-slime.git
